body{
    background-color: #DEE2E6;
    font-family: Arial, Helvetica, sans-serif;
    color: #343A40;
}
div#mainbox{
    background-color: #ADB5BD;
    width: 500px;
    height: 300px;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    border-color: #212529;
    border-style: solid;

}
input#tempe{
    width: 75px;
    height: 75px;
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(100, 97, 97);
    border-style: solid;
    border-color: #212529; 
    color: #212529; 
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
     
}
input#calc{
    width: 75px;
    height: 30px;
    background-color: rgb(100, 97, 97);
    border-style: solid;
    border-color: #212529;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
div#result{
    background-color: #E9ECEF;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: #212529;

}
footer{
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #212529;
}